@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2rem;
}

svg{
    width: 500px;
    height: 75vh;
}

#mid{
    fill: #caceff;
}

#stroke{
    fill: #9c9fcc;
}

text{
    font-size: 3.5rem;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}

.titre{
    text-decoration-line: underline;
}

#heure, #minute, #seconde{
    transform-origin: center;
}

#seconde{
    stroke: red;
}

#color{
    display: inline-block;
    height: 75vh;
    width: 66%;
}

#bg{
    display: inline-block;
    height: 75vh;
    width: 49%;
}

#aiguille{
    display: inline-block;
    height: 75vh;
    width: 49%;
}

button{
    display: block;
}